<div class="row column">
  <div class="title-action">
    <h2 class="title-action__title section-heading"><%=t ".additional_info" %></h2>
  </div>
  <div class="section">
    <%= sanitize translated_attribute sortition.additional_info %>
  </div>
</div>

<div class="row column">
  <div class="title-action">
    <h2 class="title-action__title section-heading"><%=t ".witnesses" %></h2>
  </div>
  <div class="section">
    <%= sanitize translated_attribute sortition.witnesses %>
  </div>
</div>

<% if sortition&.proposals %>
  <div class="row columns">
    <div class="title-action">
      <h2 id="proposals-count" class="title-action__title section-heading">
        <%= render partial: "count", locals: { proposals: sortition.proposals } %>
      </h2>
    </div>
    <div class="row">
      <div id="proposals" class="columns mediumlarge-12 large-12">
        <div class="row small-up-1 medium-up-2 card-grid">
          <%= render partial: "proposal", collection: sortition.proposals %>
        </div>
      </div>
    </div>
  </div>
<% end %>
